.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  height: 100vh;
}

.continents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 0.625rem;
  padding: 1.2rem;
  margin-bottom: 0.31rem;
  width: 12rem;
  height: 6.25rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.countries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 0.625rem;
  padding: 1.2rem;
  margin-bottom: 0.31rem;
  min-width: 12rem;
  min-height: 6.25rem;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  background: darksalmon;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: sticky;
  top: 2px;
}

.navbar > .link {
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: none;
  color: blueviolet;
}

button {
  padding: 0.5rem;
  border: none;
  margin-right: 1rem;
  margin-top: 2rem;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: palegreen;
}
